#### Este Notebook esta dedicado al analisis de los datos extraidos del banco mundial sobre las tasas de fecundidad.

In [64]:
# Importamos las librerias necesarias para el analisis 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [65]:
# Primero cargamos los datos del que se encuentran en formato csv 

data= pd.read_csv('../Data/Data_Fecundidad.csv', sep=',', skiprows=3)
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Unnamed: 68
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.820000,4.655000,4.471000,4.271000,4.059000,3.842000,...,1.972000,1.953000,1.839000,1.587000,1.486000,1.325000,1.180000,1.179000,NaN,NaN
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.724125,6.742752,6.762930,6.778712,6.788420,6.800322,...,4.677618,4.615670,4.570409,4.527705,4.482898,4.416900,4.354709,4.288788,NaN,NaN
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.282000,7.284000,7.292000,7.302000,7.304000,7.305000,...,5.405000,5.262000,5.129000,5.002000,4.870000,4.750000,4.643000,4.523000,NaN,NaN
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.458448,6.471518,6.491826,6.506088,6.525355,6.541102,...,5.385059,5.328709,5.255345,5.186319,5.118932,5.049329,4.978662,4.897322,NaN,NaN
4,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.708000,6.790000,6.872000,6.954000,7.036000,7.116000,...,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,5.209000,NaN,NaN

#### El Obejetivo principal de este proyecto estudiar las tasas de fecundidad en la region de America del Sur, por lo que solo se seleccionaran los paises de dicha region, y el tiempo de estudio sera de 40 años, por lo se escogeran los datos desde 1980 hasta los mas recientes

#### Antes de filtar los datos, por lo que decidimos seleccionar, como se puede ver que tenemos nuestra base datos en formato Width, lo cual no es muy practico para su manejo, por lo que la transoformamos en formato Long

In [66]:
# Pasamos de formato width a long nuestra base de datos usando el metodo .melt

data_long = pd.melt(data, 
                    id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
                    var_name='Year', 
                    value_name='Fertility Rate')

data_long

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Fertility Rate
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,4.820000
1,Africa Eastern and Southern,AFE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.724125
2,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,7.282000
3,Africa Western and Central,AFW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.458448
4,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1960,6.708000
...,...,...,...,...,...,...
17285,Kosovo,XKX,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Unnamed: 68,NaN
17286,"Yemen, Rep.",YEM,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Unnamed: 68,NaN
17287,South Africa,ZAF,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Unnamed: 68,NaN
17288,Zambia,ZMB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Unnamed: 68,NaN
17289,Zimbabwe,ZWE,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Unnamed: 68,NaN

In [67]:
# Mostramos la informacion del los datos

data_long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17290 entries, 0 to 17289
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    17290 non-null  object
 1   Country Code    17290 non-null  object
 2   Indicator Name  17290 non-null  object
 3   Indicator Code  17290 non-null  object
 4   Year            17290 non-null  object
 5   Fertility Rate  16137 non-null  float64
dtypes: float64(1), object(5)
memory usage: 810.6+ KB

In [68]:
# Como se puede ver la Variable 'Year' esta en tipo object, por lo que la transformamos en Int para poder usarla en flitros
# Filtrar valores no deseados en la columna Year
data_long = data_long[data_long['Year'] != 'Unnamed: 68']
data_long['Year']= pd.to_numeric(data_long['Year'], errors= 'coerce')

C:\Users\HP\AppData\Local\Temp\ipykernel_5544\3469371376.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_long['Year']= pd.to_numeric(data_long['Year'], errors= 'coerce')

In [69]:
# Vemos de nuevo la informacion y ya tenemos los años como variable numerica
data_long.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17024 entries, 0 to 17023
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    17024 non-null  object
 1   Country Code    17024 non-null  object
 2   Indicator Name  17024 non-null  object
 3   Indicator Code  17024 non-null  object
 4   Year            17024 non-null  int64
 5   Fertility Rate  16137 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 931.0+ KB

In [83]:
# Creamos una lista con los paises de America del Sur

paises= ['Argentina', 'Bolivia', 'Brasil', 'Chile', 'Colombia', 
        'Ecuador', 'Guyana', 'Paraguay', 'Perú', 'Suriname', 'Uruguay', 'Venezuela']

# Filtramamos los datos 

data_filtrada= data_long[(data_long['Country Name'].isin(paises)) &  (data_long['Year'].between(1980,2022))]

# Mostramos los datos

data_filtrada

,Country Name,Country Code,Indicator Name,Indicator Code,Year,Fertility Rate
5329,Argentina,ARG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1980,3.301
5348,Bolivia,BOL,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1980,5.474
5359,Chile,CHL,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1980,2.744
5365,Colombia,COL,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1980,3.856
5386,Ecuador,ECU,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,1980,4.730
...,...,...,...,...,...,...
16558,Ecuador,ECU,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2022,2.003
16586,Guyana,GUY,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2022,2.369
16687,Paraguay,PRY,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2022,2.444
16712,Suriname,SUR,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2022,2.322
16742,Uruguay,URY,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,2022,1.483

In [85]:
# Por ultimo nos percatamos si hay valores nulos en nuestros datos
data_filtrada.isnull().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
Year              0
Fertility Rate    0
dtype: int64

#### Una vez teniendo los datos ya filtrados y sin nulos procedemos a verlos de manera grafica.